<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Hello</title>
	</head>
	<body>
		<!-- name es el nombre de la variable que vamos a insertar desde Java -->
		<table>
			<thead>
				<tr>
					<th>NAME</th>
					<th>AGE</th>
				</tr>
			</thead>
			<!-- Aquí añadimos el siguiente componente Thymeleaf -->
			<!-- La variable en la plantilla es people -->
			<!-- El siguiente código significa, por cada persona en el listado people -->
			<tbody th:each="person : ${people}">
				<tr>
					<th th:text="${person.name}"></th>
					<th th:text="${person.age}"></th>
				</tr>
			</tbody>
		</table>
	</body>
</html>